.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  background-color: grey;
}
.nav {
  color: black;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
}
ul {
  display: flex;
  width: 100%;
}
li {
  list-style: none;
  margin-right: 1%;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  
}

.login-button {
  margin-top: 1%;
  border-radius: 50%;
  padding-top: .5%;
  padding-bottom: .5%;
  background-color: darkred;
  color: white;
  border-color: black;
}
.label-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.add-label {
  font-weight: 500;
}
.add-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-button {
  border-radius: 50%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: darkred;
  color: white;
  border-color: black;
}
.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: darkred;
  border: 4px solid black;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.log-button {
  position: relative;
  left: 40%;
  top: -53px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .5%;
  cursor: pointer;
}
.key-spinner {
  display: flex;
  flex-direction: column;
  align-items: center
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
